body {
  background: #1f232b;
  padding: 10px;
  margin: 0px;
  color: #839496;
  font-family: monospace;
  font-size: .9rem;
}

footer {
  a {
    &:link {
      color: #839496;
      text-decoration: none;
    }
    &:visited {
      color: #839496;
      text-decoration: none;
    }
    &:hover {
      color: #839496;
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: .6rem;
  }
}

textarea.pastebin-textarea {
  background: transparent;
  border: 0px;
  color: #fff;
  padding: 0px;
  width: 100%;
  height: 100%;
  outline: none;
  min-height: 75vh;
  resize: none;
  margin-top: 50px;
}

div.pastebin-view {
  margin-top: 50px;
  min-height: 75vh;
}

.text-center {
  text-align: center !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background-color: #474747;
  color: #fff;
  cursor: pointer;
}

.sticky-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.hljs {
  background: transparent !important;
}

td.hljs-ln-numbers {
  padding-right: 20px !important;
}

code.hljs {
    padding: 0 !important;
}

.hljs-copy-wrapper {
    margin-right: 8px !important;
}

.vertical-align-middle {
  vertical-align: middle;
}

.vertical-align-baseline {
  vertical-align: baseline;
}

/** Markdown styling **/
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #839496;
    background: transparent;
    position: relative;
    vertical-align: middle;
    margin-right: 5px;
    cursor: default;
}

input[type="checkbox"]:checked::after {
    /* Use a single backslash for the unicode character */
    content: "\2714";
    /* A green from the syntax highlight theme */
    color: #98c379;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    pointer-events: none;
}