<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1f232b">
    <title>Paste</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='assets/favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='assets/apple-touch-icon.png') }}" />
    <meta name="apple-mobile-web-app-title" content="Paste" />
    <link rel="manifest" href="{{ url_for('static', filename='assets/site.webmanifest') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/atom-one-dark.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/prism.css') }}">
    <script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/prism.js') }}"></script>
    <!-- Made with love by Teklynk: https://github.com/teklynk/pastebin -->
</head>
<body>
<main role="main">