{% include 'includes/header.html' %}

<form method="post" id="pastebin-form">
    {{ form.csrf_token }}
    <div class="sticky-button">
        <input id="burn_after_reading" name="burn_after_reading" type="checkbox" class="vertical-align-middle" value="y"> <label for="burn_after_reading">Burn after reading</label>
        <button class="btn vertical-align-baseline" type="submit" form="pastebin-form" formtarget="_self">Save</button>
    </div>
    <div class="mt-2">
        {{ form.paste_content(placeholder="Paste here and click Save", spellcheck="false", 
           autofocus=true, class="pastebin-textarea", id="paste_content", rows="10", cols="80") }}
    </div>
</form>

{% include 'includes/footer.html' %}