<!DOCTYPE html>
<html lang="en">

{% include 'includes/header.html' %}

<body>
    <form method="post" id="pastebin-form">
        {{ form.csrf_token }}
        <div class="sticky-button">
            {{ form.burn_after_reading() }} {{ form.burn_after_reading.label }}
            <button class="btn" type="submit" form="pastebin-form" formtarget="_self">Save</button>
        </div>
        <div>
            <textarea placeholder="Paste here and click Save" spellcheck="false" autocorrect="off" autocapitalize="off"
                autofocus class="pastebin-textarea" name="paste_content" id="paste_content" rows="10" cols="80"
                tabindex="0"></textarea>
        </div>
    </form>

    {% include 'includes/footer.html' %}

</body>

</html>