<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1f232b">
    <title>Paste</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/atom-one-dark.min.css') }}">
    <script src="{{ url_for('static', filename='assets/js/highlight.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/highlightjs-line-numbers.min.js') }}"></script>
    <script>
        hljs.highlightAll();
        hljs.initLineNumbersOnLoad();
    </script>
</head>

<body>
    <div class="sticky-button">
        <a href="/"><button class="btn" type="submit">Create</button></a>
        <a href="/raw/{{ paste_id }}"><button class="btn" type="submit">Raw</button></a>
    </div>
    <div>
        <pre tabindex="0">
        <code>{{ content }}</code>
    </pre>
    </div>

</body>

</html>