<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1f232b">
    <title>Paste</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/atom-one-dark.min.css') }}">
    <script src="{{ url_for('static', filename='assets/js/highlight.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/highlightjs-line-numbers.min.js') }}"></script>
    <script>
        hljs.highlightAll();
        hljs.initLineNumbersOnLoad();
    </script>
    <!-- Made with love by Teklynk https://github.com/teklynk/pastebin -->
</head>
<body>
    <div class="sticky-button">
        <a href="/"><button class="btn" type="button">Create</button></a>
        <a href="/raw/{{ paste_id }}"><button class="btn" type="button">Raw</button></a>
    </div>
    <div class="pastebin-view">
        <pre tabindex="0">
            <code>{{ content }}</code>
        </pre>
    </div>
</body>
</html>